doctype html
head
  title= Statistics
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet')

  //style
    include ../css/cover.css

  body.d-flex.h-100.text-center.text-bg-dark
  .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    h1.my-4
      block header
    block content